<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{!-- including partial --}}
    <div class="main-content">
    {{>header}} 
    <img class="portrait"src="/img/robot.png">
    <p>This site was Created by {{name}}. It uses data from mapbox.com and darksky.net.</p>
    </div>
    {{>footer}}
</body>

</html>